.container {
    font-size: small;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 10pt;
    margin: 2pt;
    border: solid 1pt black;
    width: 120px;
    flex-basis: 100%;
}
.container > * {
    margin: 2.5pt 0;
}
