.container {
    font-size: small;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 16pt;
    margin: 10pt;
    border: solid 1pt black;
    width: 15%;
    height: 214px;
    line-height: 1.5em;
}
.container > * {
    margin: 2.5pt 0;
}

.horizontalContainer {
    font-size: small;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16pt 8pt 16pt 8pt;
    margin: 10pt;
    border: solid 1pt black;
    width: 448px;
    height: 214px;
}

.patchesContainer {
    font-size: small;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16pt 8pt 16pt 8pt;
    margin: 10pt;
    border: solid 1pt black;
    width: 680px;
    height: 214px;
}

.horizontalContainer > .container,
.patchesContainer > .container {
    padding: 0 16pt;
    width: 100%;
    margin: 10pt 0;
    border: none;
}

.divider {
    height: 214px;
    width: 1px;
    background-color: black;
    margin: 0 8pt;
}
